<style>
.text-content{
    font-size: 20px; 
    text-align: center;

}
.image-wrapper{
    max-width: 100%;
}
.section-heading{
    font-size: 50px;
    color: #ffcd00;
    text-align: center;
    padding: 20px 0px;
}

#welcome{
    padding-top: 45px;
}

.benefits{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    row-gap: 20px;
}
.benefit-image > img{
    width:60px;
    height: auto;
}

.benefit{
    display:flex;
    flex-direction: column;
    column-gap: 25px;
}
.benefit-text{
    display:flex;
    justify-content: center;
    flex-direction: column;

}

.benefit-title{
    font-size : 30px;
    color: #ffcd00;
    text-align: center;
}

.image-wrapper{
    max-width: 100%;
}

.image-wrapper  img {
    width: 100%;
}

.benefit-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-caption {
    color: white;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    margin-top: 0px;
    text-align: center !important;
}

#footer{
    display :flex;
    border-top: 1px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    color: var(--primary);
}

#back-to-aa-button{
    top: -13px;
    left: 0;
    padding: 10px 20px;
    border-radius: 50px;
    position: absolute;
    column-gap: 10px;
    display: inline-flex;
    line-height: 10px;
    align-items: center;
    border: 1px solid;
    transition: all .1s ease-in-out;
    fill: var(--tertiary);

}

#list-no-dits{
    list-style: none;
    margin-left: 0;
}

.container{
    position: relative;
}

#back-to-aa-button:hover
{
    color: white;
    
}
#back-arrow{
    transition: all .1s ease-in-out;
}
#back-to-aa-button:hover #back-arrow{
  transform: translateX(-3px);
  fill: white;
  
}


.image-wrapper{
    margin-top: 30px;
}

#main-container{
    padding-top: 1.5rem;
}


@media(min-width: 700px){
    .benefit{
    flex-direction: row;
}
    .image-wrapper{
    margin-top: 45px;
}
    .benefit-title {
        font-size: 40px;
        text-align: left;
    }
    
    .text-content{
    font-size: 20px; 
    text-align: left;

}
}
</style>


<div class="container" id="main-content-entry">
 <a id="back-to-aa-button" href="https://community.hiveologie.com/c/all-access/15"> <svg  fill="" height="25px" width="25px" version="1.1" id="back-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_6_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M205.606,234.394 c5.858,5.857,5.858,15.355,0,21.213C202.678,258.535,198.839,260,195,260s-7.678-1.464-10.606-4.394l-80-79.998 c-2.813-2.813-4.394-6.628-4.394-10.606c0-3.978,1.58-7.794,4.394-10.607l80-80.002c5.857-5.858,15.355-5.858,21.213,0 c5.858,5.857,5.858,15.355,0,21.213l-69.393,69.396L205.606,234.394z"></path> </g></svg> Back To All Access</a> 
    <div class="image-wrapper">
        <picture>
            <source media="(max-width: 541px)" srcset="https://community.hiveologie.com/uploads/default/original/1X/dca687be0aafab786d7e420bb9be9f5edd7e1e3b.png"/>
            <img src="/uploads/default/original/1X/ff5ce7e403bbe47384c03fe8a32a57585b065ca7.png" alt="Welcome Image" width="1100px">
        </picture>
    </div>
    <h2 class="section-heading" id="welcome">AT LEAST 25% OFF THE WHOLE KITTEN KABUDDLE</h2>
    <div class="text-content">
    <p>
      Your All-Access Pass subscription means a ton of free stuff included in your membership. However, we also have some a la carte programming you have access to sometimes free too but always always at least 25% Off our regular fees. 
    </p>
    <p>All you need to do to earn your big discount is</p>
    </div>
    <div class="text-content">
        
        <p>
       A la carte programming generally includes: 
        </p>
        <ul>
        <li>Accelerators: 6 week deep dives delivered in drips. Such a cool and effective concept.</li>
        <li>Courses: usually on demand online programs to give you specialist-level training on specific hot topics. </li>
        <li>Masterclasses: Focus on advanced knowledge, high touch, done with you, small group coaching, and community. All mastery programs include live time with experts, FAQs, peer-to-peer community, resources, and bonuses. </li>
        
   </ul>
       <p> Our current catalog can be found at <a href="www.hiveologie.com">www.hiveologie.com</a>. Don’t forget, you will be notified by email when something new hits! </p>

    </div>
   
</div>
<div id="footer">
    <div>Hiveologie 2024</div>
</div>