<style>
.text-content{
    font-size: 20px; 
   
   

}
.image-wrapper{
    max-width: 100%;
}
.section-heading{
    font-size: 50px;
    color: #ffcd00;
    text-align: center;
    padding: 20px 0px;
}

#welcome{
    padding-top: 45px;
}

.benefits{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    row-gap: 20px;
}
.benefit-image  img{
    width:60px;
    height: auto;
}

.benefit{
    display:flex;
    flex-direction: column;
    column-gap: 25px;
}
.benefit-text{
    display:flex;
    justify-content: center;
    flex-direction: column;

}

.benefit-title{
    font-size : 30px;
    color: #ffcd00;
    text-align: center;
}

.image-wrapper{
    max-width: 100%;
}

.image-wrapper  img {
    width: 100%;
}

.benefit-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-caption {
    color: white;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    margin-top: 0px;
    text-align: center !important;
}

#footer{
    display :flex;
    border-top: 1px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    color: var(--primary);
}

#back-to-aa-button{
    top: -13px;
    left: 0;
    padding: 10px 20px;
    border-radius: 50px;
    position: absolute;
    column-gap: 10px;
    display: inline-flex;
    line-height: 10px;
    align-items: center;
    border: 1px solid;
    transition: all .1s ease-in-out;

}

.container{
    position: relative;
}

#back-to-aa-button:hover
{
     color: var(--primary);
    
}
#back-arrow{
    transition: all .1s ease-in-out;
}
#back-to-aa-button:hover #back-arrow{
  transform: translateX(-3px);
   color: var(--primary);
}


.image-wrapper{
    margin-top: 40px;
}

#main-container{
    padding-top: 1.5rem;
}


@media(min-width: 700px){
    .benefit{
    flex-direction: row;
}
    .image-wrapper{
    margin-top: 45px;
}
    .benefit-title {
        font-size: 40px;
        text-align: left;
    }
    
    .text-content{
    font-size: 20px; 
    text-align: left;

}
}
</style>


<div class="container" id="main-content-entry">
 <a id="back-to-aa-button" href="https://community.hiveologie.com/c/all-access/15"> <svg  fill="" height="25px" width="25px" version="1.1" id="back-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_6_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M205.606,234.394 c5.858,5.857,5.858,15.355,0,21.213C202.678,258.535,198.839,260,195,260s-7.678-1.464-10.606-4.394l-80-79.998 c-2.813-2.813-4.394-6.628-4.394-10.606c0-3.978,1.58-7.794,4.394-10.607l80-80.002c5.857-5.858,15.355-5.858,21.213,0 c5.858,5.857,5.858,15.355,0,21.213l-69.393,69.396L205.606,234.394z"></path> </g></svg> Back To All Access</a> 
    <div class="image-wrapper">
        <picture>
            <source media="(max-width: 541px)" srcset="https://community.hiveologie.com/uploads/default/original/1X/f5654c36218c979cc5ea9d49e82640a085094821.png"/>
            <img src="/uploads/default/original/1X/ff5ce7e403bbe47384c03fe8a32a57585b065ca7.png" alt="Welcome Image" >
        </picture>
   </div>
    <div class="text-content">
    
    <p>
        Congratulations, you’ve confirmed your VIP ALL ACCESS status! We’re thrilled to welcome you to our Community! 
    </p>

    <p>
        Success is all about having the right training at the right time, backed by real support and accountability. That’s why Broker’s Accelerator and Hiveologie have joined forces—combining frontline best practices with the industry’s leading agent performance architects. Together, we’re here to empower your real estate journey with the community and systems you need to thrive…in any market. 
    </p>
    <p>
       We’re here to help you hit your goals through Consistency, Community, and Commitment — the core of everything we do. And it all starts with our Monday Morning Coaching Calls. 
    </p>
    </div>

    <h2 class="section-heading">OUR LEGACY OF LEADERSHIP</h2>

    <div class="text-content">
        
        <p>
        After 25 years and over a million courses delivered, Hiveologie—founded by Sabine Steinbrecher—knows exactly how to drive success in real estate. More than just a training provider, Hiveologie is the original innovator in real estate edtech, leading the industry as the architects of agent performance. Our Hive Ecosystem is uniquely designed for agent growth, offering personalized coaching, practical training and tools, and accelerated results. 
        </p>
        <p>
         Founded by industry experts Simeon Papailias, Bobby Puim, and Ryan Coyle, Broker’s Accelerator has been dedicated to helping real estate professionals thrive since 2019. We empower agents, brokers, and teams with proven strategies and tools to build strong, client-centered businesses.  
        </p>
        <p>
            Together, we’ve created the All Access Community. Congratulations on joining us—now get ready to fuel your best year yet! 
        </p>

    </div>
    <h2 class="section-heading">WHAT YOU GET</h2>
    <div class="text-content">
        
        <p>
          Our All-Access Pass is your gateway to growth in any market, focusing on sales, leads, and income-generating strategies tailored for today’s real estate landscape. With your VIP status, you've unlocked exclusive benefits: 
        </p>
        <div class="benefits">
            <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Weekly%20Live%20Coaching%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Unlimited Workshop Replays:</h2>
                    <p>Access every replay, anytime.</p>
                </div>
            </div>
            <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Weekly%20Live%20Coaching%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Comprehensive Resources:</h2>
                    <p>All our workbooks and resources packed with actionable insights.</p>
                </div>
            </div>
            <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Weekly%20Live%20Coaching%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Live Weekly Coaching & Community:</h2>
                    <p>Monday morning accountability calls, special coaching events every week with rotating industry experts, plus community to chat with like-minded peers. </p>
                </div>
            </div>
            <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Weekly%20Live%20Coaching%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Guaranteed Seats:</h2>
                    <p>Secure spots in all workshops, even for your whole team or office. </p>
                </div>
            </div>
            <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Weekly%20Live%20Coaching%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">25% Off Course Fees:</h2>
                    <p>Big savings on all our income-boosting courses, masterclasses and all other products in our catalog.</p>
                </div>
            </div>
            <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Weekly%20Live%20Coaching%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Dedicated VIP Support:</h2>
                    <p>Email <a href="mailto:vip@hiveologie.com">vip@hiveologie.com</a> for top-tier assistance. 
                        Exclusive Data Access: Get insights from our ground breaking Agent Accelerator™ and survey results first.</p>
                </div>
            </div>
            <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Weekly%20Live%20Coaching%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Early Program Access:</h2>
                    <p>Stay ahead with new skills and tactics before anyone else. </p>
                </div>
            </div>
           
        </div>
        
    </div>

    <h2 class="section-heading">Here’s a peek at our powerhouse topics: </h2>
    <div class="benefits">
        <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Automatic%20VIP%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Client-Centric Strategies </h2>
                   
                </div>
            </div>
            <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Automatic%20VIP%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Cutting-Edge Trends</h2>
                   
                </div>
            </div>
            <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Automatic%20VIP%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Efficiency</h2>
                   
                </div>
            </div>
              <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Automatic%20VIP%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Income Expansion</h2>
                   
                </div>
            </div>
              <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Automatic%20VIP%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Lead Generation & Sales</h2>
                   
                </div>
            </div>
              <div class="benefit">
                <div class="benefit-image">
                    <img src="https://assets.hiveologie.com/static/hive/Automatic%20VIP%20-%20Yellow.png" alt="benefit-logo">
                </div>
                <div class="benefit-text">
                    <h2 class="benefit-title">Wellness</h2>
                   
                </div>
            </div>
    </div>
    <div class="text-content">
        <p> And much more to keep you thriving in any market! </p>
        <p> Welcome aboard! </p>
    </div>

    <h2 class="section-heading">
    INSTRUCTIONS 
    </h2>
    <div class="text-content">
    <p>Now that you’re in, it’s time to unlock the insider benefits that drive agent success. <br> Here’s what’s up first:</p>
   <p>We’re all about Consistency, Community, and Commitment, and it starts with our Monday Morning Accountability Calls. <br>  </p>
   <p>Each week, you’ll:</p>
   <ul style="text-align:left;">
        <li>Focus on Your Goals: Zero in on what matters most for your career. </li>
        <li>Get Feedback: Share progress, ask questions, and gain valuable insights.</li>
        <li>Build Connections: Network with driven agents who inspire and support.</li>
        <li>Focus on Your Goals: Zero in on what matters most for your career. </li>
        <li>Stay Current: Tap into the latest trends, best practices, and strategies.  </li>
   </ul>
    </div>

    <div class="text-content">
    <p>You’ll receive a weekly email with your login link—it’s the same each week, but we’ll remind you!</p>
    </div>

    <h2 class="section-heading">RISK FREE GUARANTEE</h2>
    <div class="text-content">
    <p>The return on investment for this program and the stack of bonuses and promotions we are delivering are valued at many times the cost. But just to make sure there is zero risk, minimal commitment, plus a big return on investment, here’s what we will do.... cancel anytime withing the trial period plus keep all the bonuses, promos and rewards received to date and you may cancel anytime before your next subscription period with no further obligation and no questions asked. To cancel, contact <a href="mailto:support@hiveologie.com" >support@hiveologie.com</a></p>
    </div>

</div>
<div id="footer">
    <div>Hiveologie 2024</div>
</div>