<style>
.text-content{
    font-size: 20px; 
    text-align: left;

}

.section-heading{
    font-size: 40px;
    color: #ffcd00;
    text-align: center;
    padding: 20px 0px;
}

#welcome{
    padding-top: 45px;
}
</style>


<div class="container">
   <div class="image-wrapper">
    <img src="/uploads/default/original/1X/ff5ce7e403bbe47384c03fe8a32a57585b065ca7.png" alt="Welcome Image" width="1100px">
   </div>
   <h2 class="section-heading" id="welcome">Welcome</h2>
    <div class="text-content">
    
    <p>
        Congratulations, you have confirmed your VIP ALL ACCESS status! We couldn’t be more delighted that you have joined our Community! 
    
    </p>

    <p>
        We know the key to success is the right training at the right time plus real support and accountability. 
    
    </p>
    <p>
       We’re here to help you hit your goals through Consistency, Community, and Commitment — the core of everything we do. And it all starts with our Monday Morning Coaching Calls. 
    
    </p>

    <p>
        So Broker’s Playbook and Hiveologie Accelerated Learning have come together to provide the community and the system for real estate pros to succeed. 
    
    </p>
    
    <p>
        This partnership is the perfect marriage of ‘front line’ best practices and the top edtech partner in the industry. 
    </p>
    
    </div>

    <h2 class="section-heading">Who are BP and Hiveologie? </h2>

    <div class="text-content">
        
        <p>
        After 25 years and over 1 million courses delivered in real estate, Hiveologie, founded by Sabine Steinbrecher, has learned a thing or two. We’re more than just a training provider—we’re the original trailblazers in real estate ed tech. For over 25 years, we’ve partnered with industry leaders to create cutting-edge, analytics-driven learning that adapts to your needs. With our exclusive Hive Ecosystem, you get personalized coaching, practical tools, and a focus on real results—all with a commitment to sustainability. When it comes to thriving in any market, Hiveologie is the partner you can trust.  
        </p>

        <p>
            Broker's Playbook is a real estate consulting and education platform designed for professionals aiming to advance their careers and grow their businesses. Founded by industry experts and active brokers Simeon Papailias, Bobby Puim, and Ryan Coyle, Broker's Playbook has been in operation since 2019. Its mission is to equip real estate agents, brokers, and investors with cutting-edge tools and strategies to thrive in a competitive market. By fostering collaboration and professional development, Broker's Playbook empowers its members to build strong, sustainable businesses grounded in client trust and value creation.  
        
        </p>
        <p>
        Together we have created the All Access Community!
        
        </p>

        <p>
            Congratulations on joining us--now you get to experience what sets us apart and what will fuel the next best year of your life. 
        
        </p>

        
    </div>
    <h2 class="section-heading">All access pass</h2>
    <div class="text-content">
        
        <p>
            Our All-Access Pass is your key to unlocking real estate growth in any market. Specifically designed for today's challenges and opportunities and mostly focused on sales, leads, and income-generating strategies. 
        </p>



        
    </div>

</div>