<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', (e)=>{
        const footerText = document.querySelector("#footer-text");
        if(footerText){
            footerText.innerHTML = `Hiveologie ${new Date().getFullYear()}`;
        }

    })
</script>


<style>
.text-content{
    font-size: 20px; 
  

}
.image-wrapper{
    max-width: 100%;
}
.section-heading{
    font-size: 40px;
    color: #ffcd00;
    text-align: center;
    padding: 20px 0px;
}

#welcome{
    padding-top: 45px;
}

.benefits{
    display: flex;
    flex-direction: column;
    padding: 30px 10px;
    row-gap: 20px;
}
.benefit-image > img{
    width:60px;
    height: auto;
}

.benefit{
    display:flex;
    flex-direction: column;
    column-gap: 25px;
}
.benefit-text{
    display:flex;
    justify-content: center;
    flex-direction: column;

}

.benefit-title{
    font-size : 30px;
    color: #ffcd00;
    text-align: center;
}

.image-wrapper{
    max-width: 100%;
}

.image-wrapper  img {
    width: 100%;
}

.benefit-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefit-caption {
    color: white;
    font-size: 20px;
    font-family: Poppins, sans-serif;
    margin-top: 0px;
    text-align: center !important;
}

#footer{
    display :flex;
    border-top: 1px solid black;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    color: var(--primary);
}

#back-to-aa-button{
    top: -13px;
    left: 0;
    padding: 10px 20px;
    border-radius: 50px;
    position: absolute;
    column-gap: 10px;
    display: inline-flex;
    line-height: 10px;
    align-items: center;
    border: 1px solid;
    transition: all .1s ease-in-out;
       color: var(--primary) !important;

}

.list-no-dots{
    list-style: none;
    margin-left: 0;
}

.container{
    position: relative;
}

#back-to-aa-button:hover
{
    color: var(--primary);
    
}
#back-arrow{
    transition: all .1s ease-in-out;
}
#back-to-aa-button:hover #back-arrow{
  transform: translateX(-3px);
   color: var(--primary);
  
}

#paddless{
    padding: 0;
}


.image-wrapper{
    margin-top: 40px;
}

#main-container{
    padding-top: 1.5rem;
}


.inset-left{
    margin-left: 3em;
}

@media(min-width: 700px){
    .benefit{
    flex-direction: row;
    margin-bottom: 20px;
}
    .image-wrapper{
    margin-top: 45px;
}
    .benefit-title {
        
        text-align: left;
    }
    
    .text-content{
        font-size: 20px; 
        text-align: left;

}
}
</style>


<div class="container" id="main-content-entry">
 <a id="back-to-aa-button" href="https://community.hiveologie.com/c/all-access/15"> <svg  fill="" height="25px" width="25px" version="1.1" id="back-arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 330 330" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path id="XMLID_6_" d="M165,0C74.019,0,0,74.019,0,165s74.019,165,165,165s165-74.019,165-165S255.981,0,165,0z M205.606,234.394 c5.858,5.857,5.858,15.355,0,21.213C202.678,258.535,198.839,260,195,260s-7.678-1.464-10.606-4.394l-80-79.998 c-2.813-2.813-4.394-6.628-4.394-10.606c0-3.978,1.58-7.794,4.394-10.607l80-80.002c5.857-5.858,15.355-5.858,21.213,0 c5.858,5.857,5.858,15.355,0,21.213l-69.393,69.396L205.606,234.394z"></path> </g></svg> Back To All Access</a> 
   <div class="image-wrapper">
        <picture>
            <source media="(max-width: 541px)" srcset="https://community.hiveologie.com/uploads/default/original/1X/1f73a50d5e38571de02052a67ad465f125f74963.png"/>
            <img src="https://community.hiveologie.com/uploads/default/original/1X/270845822e93f376231d6d0977a348f9d46fcd84.png" alt="Gojo-satoru domain expansion image"/>
        </picture>
   </div>
  
    <div class="text-content">
        <p>
       Everything’s fresh, and we’re buzzing with new opportunities! You’re now part of a powerful community that’s designed to accelerate your success.
        </p>
        <p>Here’s what you don’t want to miss: </p>
        <ol style="list-style-position: outside;">
            <li><strong>Monday Accountability Calls:</strong> Start your week strong with live coachingand expert advice. </li>
            <li><strong>Micro Tactics Library:</strong> Dig into the full library for tools, guides, tactics and templates to help you with your business growth. Just click <a target="_blank" href="https://www.hiveologie.com/resh/a/en/category/post/287">here</a> to see our current catalog to access free. </li>
            <li><strong>Replays & Resources:</strong> Catch up anytime with recordings of our expert-led workshops and Monday accountability call replays.</li>
            <li><strong>Live Workshops:</strong> Learn, grow, and implement actionable strategies to take your business to the next level. New live 60 min workshops added monthly. Just click <a target="_blank" href="https://www.hiveologie.com/resh/a/en/category/index/1072">here</a> to see our current catalog to sign up free.</li>
        </ol>
    </div>
    <div class="text-content">
        <p>
            Here’s a peak at what’s available now:
        </p>
        <ul style="list-style-position: outside;">
            <li>Compassionate Foreclosure Basics</li>
            <li>Cracking the Compensation Code</li>
            <li>Double Your Deals with Systems</li>
            <li>Winning Listings & Buyers</li>
            <li>Mastering Irresistible Value Propositions</li>
            <li>Navigating Buyer Agent Marketing & Contracts</li>
            <li>Modern Compensation Strategies    </li>
            <li>Niche Domination: Lead Generation </li>
            <li>Side Hustles for Real Estate Pros   </li>
            <li>WEB3, Blockchain & Real Estate</li>
        </ul>
        <p style="margin-bottom:0;"> Don’t forget, you will be notified by email when something new hits! </p>
    </div>
    <h2 class="section-heading" id="welcome">COMING SOON</h2>
    <div class="text-content">
        <p>
           Massive 2025 programming includes:
        </p>
    <div class="benefits" id="paddless">
        <div class="benefit" style="margin-bottom:0;">       
            <div class="benefit-text">
                    <h2 class="benefit-title">ACCELERATORS: 6 – 12 Week Accelerators Built to Fast-Track Your Success!</h2>
                    <p style="margin-bottom:0;">Ready to level up? Our all-new Accelerator programs are just around the corner, designed to give you the tools, blueprints, and expert coaching you need to make real progress. These 6-week programs aren't your average training programs—they're designed for action. With weekly small-bite ’micro drip training’, resources and fully supported with weekly live coaching, community and accountability.Plus a blueprint for each that’s fully mapped out soyou’ll tackle each topic step by step in small bites that you can fit in easily, building lasting strategies that actually work</p> 
                    <p style="margin-bottom:0;">And we’re not just giving you theory—we’re setting you up to move the needle for real-world success, with the motivation, support, and accountability to keep you on track. Get ready to lock in your spot—it’s your time to accelerate! </p>       
            </div>
        </div>
    <!--
        <div class="benefit">   
            <div class="benefit-text">
                <h2 class="benefit-title">WORKSHOPS: New live 60 min workshops added weekly.</h2>
                <p> Just click <a href="https://www.hiveologie.com/resh/a/en/category/index/1072">here</a> to see our current catalog to sign up free. </p>
            </div>
        </div>
        <div class="benefit">         
            <div class="benefit-text">
                <h2 class="benefit-title">MICRO TACTICS: New bite sized, under 15 minute tools, resources, mini trainings added weekly.</h2>
                <p> Just click <a href="https://www.hiveologie.com/resh/a/en/category/post/287">here</a> to see our current catalog to access free. </p>
            </div>
        </div>
    -->
    </div>
    

    <div class="text-content"> 
        <p style="margin-bottom:0;">Plus as Hive members you get 25% off all of our bigger programs including:</p>
        <ol style="list-style-position: outside;" >
            <li>Our current library of specialist courses. Just <a target="_blank" href="https://www.hiveologie.com/resh/a/en/category/index/1">click here</a> to see our current catalog.</li>
            <li>Incredible new hot topics launching soon include new programs focussed on the most important topics to help you get deals done in this market this year including getting deals done, leads and pipeline building, new income opportunities, distressed / pre-foreclosure properties, new home sales, disasters and so much more!!</li>
        </ol>
        <!--
        <ul class="inset-left">
            <li>Accelerators: REAL FIT PRO 360: Wellness and fitness specially designed for Agents needs and lifestyle.</li>
            <li>Accelerators: The Modern Buyer Agent: Everything you need to crush it under the new buyer agency rules.</li>
            <li>Accelerator: Multiple Income Engine Playbook. Everything you need to add a new income stream to your business in just 6 weeks. </li>
            <li>New Masterclass: Investment Property Specialist.</li>
            <li>New Courses: New Home Specialist.</li>
            <li>New Courses: ADU Specialist.</li>
        </ul>
        -->
    </div>

    <div class="text-content" style="margin: 0px 0px;">
        <p style="margin-bottom:0;">All our programs are curated for what you need, and are asking for, to build your business! Email us anytime at <a href="mailto:coaching@hiveologie.com">coaching@hiveologie.com</a> to tell us what you want.</p>
        <p style="margin-bottom:0;">Don’t forget, you get first crack and preferred pricing as Hive members – how’s that for staying ahead of the competition! Join us Monday mornings for live updates and you will be notified by email when something new hits!</p>
    </div>
    
   
   
</div>
<div id="footer">
    <div id="footer-text">Hiveologie 2025</div>
</div>