<style>
.heading {
    color: white;
    font-size: 50px;
    line-height: 1;
    padding: 0px 10px;
    text-align: center;
    font-family: Oswald, sans-serif;
}
</style>

<div class="container">
    <h2 class="heading">Support</h2>
    <div>PHONE 1-888-387-4850 </div>
    <div>EMAIL VIP@hiveologie.com </div>
    <div>WORKING HOURS  
        Weekdays: 9:00 a.m. - 9:00 p.m. EST 
                Weekends: 9:00 a.m. - 5:00 p.m. EST </div>


</div>